<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      lang="en"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{base}"
><head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div id="app" layout:fragment="content">
        <div class="container">
            <div class="row">
                <div class="col-4">
                    <div class="user-card border border-dark p-2">
                        <div class="user-image">
                            <img src="http://sts-dent.ru/up/photos/album/dec25/women-face.jpg" class="img-fluid">
                        </div>
                    </div>
                </div>
                <div class="col-8">
                    <h4>[[${user.getFirstName()}]] [[${user.getLastName()}]]</h4>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">
                            Birth date: [[${user.getBirthDate()}]]
                        </li>
                        <li class="list-group-item">
                            Email: [[${user.getEmail()}]]
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</body>
</html>